.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5em;
}
/* .content-wrapper { */
/* display: flex; */
/* width: 100%; */
/* width: 76%; */

.header {
  margin-bottom: 1em;
  display: flex;
  width: 100%;
}

.search-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  background-color: rgb(238, 238, 238);
  border-color: rgba(0, 0, 0, 0.8);
}

/* .map-container {
  width: 60%;
}

.store-list {
  width: 40%;
} */

.title {
  display: flex;
  justify-content: space-between;
}

.index {
  padding-right: 6px;
  font-size: 20px;
  color: #b80160;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.addy {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  margin-top: -18px;
  padding-left: 34px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}
